* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

body {}

/* header**************************************** */

.header {
    background-image: linear-gradient(to bottom, #000411, #091418, #151d1d, #212523, #2d2e2c);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.logo-y-titulo {
    color: #E7ECEF;
    display: flex;
    align-items: center
}

.logo-y-titulo h1 a {
    text-decoration: none;
    color: #E7ECEF;
}

.logo-y-titulo img {
    margin: 10px;
    height: 100px;
    background-color: orange;
    border-radius: 20px;
}

.barra-nav ul {
    display: flex;
    list-style: none;
    font-size: 20px;
    position: relative;
    top: 7px;
}

.barra-nav ul li a {
    text-decoration: none;
    color: #E7ECEF;
}

.barra-nav ul li a{
    margin: 30px;
}

.barra-nav ul li:hover {
    background-color: #e9f1f713;
    border-radius: 15px;
}

/* ***********MAIN/INDEX************** */

.imgprincipal img {
    width: 100%;
}

.carousel-item img {
    height: 800px;
}

.texto-encima {
    position: absolute;
    top: 400px;
    left: 10px;
    padding: 20px;
    font-size: 30px;
    color: #E7ECEF;
    background-color: rgba(0, 0, 0, 0.123);
}

.imgconparrafo {
    background-image: url(../img/hamburgerfondo.jpg);
    background-position: center;
    background-size: 1300px;
}

.imgconparrafo {
    display: grid;
    justify-items: center;
    color: #E7ECEF;
}

.imgconparrafo h2 {
    position: relative;
    top: 50px;
}

.imgconparrafo p {
    border-radius: 20px;
    margin: 150px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.363);
}


/* **************DELIVERY***************************************/

.delivery {
    display: grid;
    justify-content: center;
    justify-items: center;
}

.delivery {
    background-image: url(../img/deliveryrappi.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 1000px;
    width: 1263px;
}

.rappipedidoya div a img {
    margin: 50px;
    border-radius: 250px;
    height: 200px;
    width: 300px;
}

.googlemaps {
    position: relative;
    left: 210px;
    top: 80px;
}

.delivery h2 {
    font-size: 40px;
    color: #E7ECEF;
    position: relative;
    top: 80px;
}

.rappipedidoya div a img {
    transition: 1s;
}

.rappipedidoya div a img:hover {
    transition: 1s;
    transform: scale(1.1);
}

/* ************MENU*************** */

.hamburguesas {
    background-image: url(../img/burger-yellow.jpg);
    background-repeat: repeat;
    background-position: center center;
    background-attachment: fixed;
}

.hamburguesas {
    display: grid;
    justify-content: center;
    padding: 25px;
}

.hamburguesas img {
    width: 300px;
    margin: 20px;
    position: relative;
    left: 120px;
    transition: all 1s;
}

.hamburguesas img:hover {
    background-color: #121619c9;
    border-radius: 100px;
    transition: .3s;
    transform: scale(1.1);
}

.precios-burgers {
    display: grid;
    justify-items: center;
    text-align: center;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.384);
    border-radius: 20px;
}

.precios-burgers table tr {
    color: #E7ECEF;
}

/* ************CONTACANTANOS********* */

.contactanos {
    background-image: url(../img/fondo.contactanos.jpg);
    background-position: left;
    font-size: 10px;
}

.contactanos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulodecontactos {
    margin-top: 50px;
    color: #EDFFD9;
}

.contactanos form {
    margin: 100px;
    text-align: center;
}

.contactanos form p input {
    font-size: 20px;
    width: 350px;
    text-align: center;
    border-radius: 20px;
    background-color: #131B23;
}

.contactanos form textarea {
    font-size: 20px;
    border-radius: 5px;
    background-color: #e7ecef17;
    color: #E7ECEF;
}

.contactanos h2 {
    color: #E7ECEF;
}

.contactanos form p input {
    transition: all 1s;
}

.contactanos form p input:hover {
    transition: 0.5;
    transform: scale(1.2);
}

.contactanos button {
    width: 150px;
    height: 35px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #F4D35E;
    transition: all 1s;
}

.contactanos button:hover {
    transition: 0.5s;
    transform: scale(1.2);
}

.contactanos p input {
    color: #E7ECEF;
}

/* **********NOTICIAS********* */



/* FOOOTER********************************************/
.footer {
    background-image: linear-gradient(to bottom, #000411, #030f14, #0e1615, #181a18, #1f1f1e);
    display: flex;
    justify-content: center
}

.redes img {
    width: 40px;
}

.redes img {
    margin: 10px;
    margin-left: 80px;
}

.texto-chico {
    display: flex;
    align-items: center;
    position: relative;
    right: 100px;
    color: #E7ECEF;
}

.redes a img {
    transition: 1s;
}

.redes a img:hover {
    transition: 1s;
    transform: scale(1.2);
}