* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

body {

}

/* header**************************************** */

.header {
    background-image: linear-gradient(to bottom, #000411, #091418, #151d1d, #212523, #2d2e2c);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.logo-y-titulo {
    color: #F2FBE0;
    display: flex;
    align-items: center
}

.logo-y-titulo img {
    margin: 10px;
    height: 100px;
    background-color: orange;
    border-radius: 20px;
}

.barra-nav ul {
    display: flex;
    list-style: none;
    font-size: 20px;
    position: relative;
    top: 7px;
}

.barra-nav ul li {
    padding-left: 70px;
}

.barra-nav ul li a {
    text-decoration: none;
    color: #F2FBE0;
}

/* ***********MAIN/INDEX************** */

.imgprincipal img {
    width: 100%;
}

.carousel-item img{
    height: 800px;
}

.texto-encima{
    position: absolute;
    top: 400px;
    left: 10px;
    padding: 20px;
    font-size: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.123);
}

.imgconparrafo{
    background-image: url(../img/hamburgerfondo.jpg);
    background-position: center;
    background-size: 1300px;
}

.imgconparrafo{
    display: grid;
    justify-items: center;
    color: #F2FBE0;
}

.imgconparrafo h2{
    position: relative;
    top: 50px;
}

.imgconparrafo p{
    border-radius: 20px;
    margin: 150px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.363);
}

/* ************MENU*************** */



/* **************DELIVERY***************************************/
.delivery{
    background-image: url(../img/deliveryrappi.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 1000px;
    width: 1263px;
}
.rappipedidoya div a img{
    margin: 50px;
    border-radius: 250px;
    height: 200px;
    width: 300px;
}

.delivery h2{
    display: inline-block;
    color: #E7ECEF;
}

/* *******************CONTACTANOS************************/

.hamburguesas{
    background-image: url(../img/burger-yellow.jpg);
    background-repeat: repeat;
    background-position: center center;
    background-attachment: fixed;
}

.hamburguesas{
    display: grid;
    justify-content: center;
    padding: 25px;
}

.hamburguesas img{
    width: 300px;
    margin: 20px;
    position: relative;
    left: 120px;
}

.precios-burgers{
    display: grid;
    justify-items: center;
    text-align: center;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.384);
    border-radius: 20px;
}

.precios-burgers table tr{
    color: #F2FBE0;
}

/* FOOOTER********************************************/
.footer {
    background-image: linear-gradient(to bottom, #000411, #030f14, #0e1615, #181a18, #1f1f1e);
    display: flex;
    justify-content: center
}

.redes img {
    width: 40px;
}

.redes img {
    margin: 10px;
    margin-left: 80px;
}

.texto-chico{
    display: flex;
    align-items: center;
    position: relative;
    right: 100px;
    color: #E7ECEF;
}